<%- include("partials/_header") -%>

<div class="container">
  <br><br>

  <br>

  <div class="box">
    <div class="box-container">
      <center>
        <form action="">
			<input class="form-input" type="text" >
			<input class="form-input" type="text" >
		</form>
      </center>
    </div>
  </div>

</div>

<%- include("partials/_footer") -%>